#navbar {
    background-color: #EBB61B;
    border-bottom: 8px solid #DAA919;
    width: 100%;
    height: 60px;
    position: fixed;
}
#navbar ul {
    margin-left: 200px;
    padding-top: 22px;
}
#navbar ul a {
    color: #113675;
}
#navbar ul a:hover {
    color: white;
}
#navbar ul li {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    margin-right: 40px;
    text-transform: uppercase;
}

#nav-logos {
    float: left;
    display: inline-block;
    width: 300px;
    height: 60px;
}
#nav-logo-sjc {
    background-image: url("img/sjc-logo.png");
    background-size: 100%;
    display: inline-block;
    height: 100px;
    width: 100px;
    float: left;
    margin-top: -11px;
}
#nav-logo-acm {
    background-image: url("img/acm-logo.png");
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: 230px;
    margin-top: 5px;
}

/** /
  *
  * Body:
  *
/**/
#club-action {
    height: 1400px;
    background: transparent;
    width: 100%;
}
#quote {
    background-color: #DAA919;
}
#quote p {
    color: white;
    font-size: 72px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#about-us {}
@media only screen and (min-width: 1366px) {
    /* Desktop screens and iPad pro sideways: */
    #navbar ul {
        margin-left: 450px;
    }
    #navbar ul li {
        margin-right: 100px;
    }
    #nav-logo-acm {
        margin-left: 350px;
    }
}
@media only screen and (min-width: 1500px) {
    /* Desktop screens 1500px - 1740px : */
    #navbar ul {
        margin-left: 600px;
    }
    #navbar ul li {
        margin-right: 100px;
    }
    #nav-logo-acm {
        margin-left: 350px;
    }
}