#navbar {
    background-color: #EBB61B;
    border-bottom: 8px solid #DAA919;
    width: 100%;
    height: 60px;
    position: fixed;
}
#navbar ul {
    margin-left: 200px;
    padding-top: 22px;
}
#navbar ul a {
    color: #113675;
}
#navbar ul a:hover {
    color: white;
    cursor: pointer;
}
#navbar ul li {
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    margin-right: 40px;
    text-transform: uppercase;
}

#nav-logos {
    float: left;
    display: inline-block;
    width: 300px;
    height: 60px;
}
#nav-logo-sjc {
    background-image: url("img/sjc-logo.png");
    background-size: 100%;
    display: inline-block;
    height: 100px;
    width: 100px;
    float: left;
    margin-top: -11px;
}
#nav-logo-acm {
    background-image: url("img/acm-logo.png");
    background-size: 100%;
    height: 50px;
    width: 50px;
    margin-left: 230px;
    margin-top: 5px;
}



/** /
  *
  * Body:
  *
/**/
#club-action {
    height: 1400px;
    background: transparent;
    width: 100%;
}
#quote {
    background-color: #DAA919;
}
#quote p {
    color: white;
    font-size: 72px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#about-us {
    height: 1400px;
    background: transparent;
    width: 100%;
}
#about-us div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 420px;
}
#about-us div p {
    background-color: rgba(241, 241, 241, 0.51);
    border-radius: 5px;
    padding: 30px;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}

#officers {
    background-color: #F1F1F1;
    height: 700px;
}
#officers div#officers-container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 150px;
    width: 100%;
    text-align: center;
}
#officers div#officers-container div#officers-center {
    /* We need to center this */
    display: inline-block;
}

div.officers-column {
    display: inline-block;
    width: 220px;
    height: 360px;
    margin-right: 20px;
    background-color: #E4E6E7;
}
div.skip {
    margin-right: 0;
}
div.officers-column div {
    background-image: url("img/no-profile-pic.png");
    background-size: 200px 200px;
    background-position: center;
    height: 200px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
}
span.officers-label {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
}
span.officers-name {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
}
div.officers-column p {
    margin-top: 20px;
    text-align: center;
}
div.officers-column a {
    text-decoration: none;
}
div.officers-column a button {
    text-align: center;
    font-size: 32px;
    width: 100px;
    background-color: #EAB533;
    box-shadow: none;
    border-bottom: 4px solid #cd9833;
    border-right: 4px solid #cd9833;
    border-radius: 5px;
}
div.officers-column a button:hover {
    border-bottom: 4px solid #EAB533;
    border-right: 4px solid #EAB533;
    cursor: pointer;
}

#president {}
#vice-president {}
#secretary {}
#treasurer {}

#join-now {
    height: 1000px;
    background: transparent;
    width: 100%;
}
#join-now div#join-now-container {
    padding-top: 400px;
}
#join-now div#join-now-container p {
    text-align: center;
}
#join-now button {
    font-size: 32px;
    background-color: #143873;
    box-shadow: none;
    border-top: 0;
    border-left: 0;
    border-right: solid 4px #13264b;
    border-bottom: solid 4px #13264b;
    border-radius: 5px;
    display: block;
    padding: 8px;
}
#join-now button:hover {
    border-right: solid 4px #143873;
    border-bottom: solid 4px #143873;
}
#join-now button a {
    color: #EAB533;
    text-decoration: none;
}

#footer {}
#social-buttons {}
#social-buttons a {}
#social-buttons a span.button img {}
#social-buttons a span.button img:hover {}
#copyright {}
#copyright a {
    text-decoration: none;
}
/**/
@media only screen and (min-width: 1366px) {
    #navbar ul {
        margin-left: 450px;
    }
    #navbar ul li {
        margin-right: 100px;
    }
    #nav-logo-acm {
        margin-left: 350px;
    }
    #officers div#officers-container {
        width: 1000px;
    }
}
@media only screen and (min-width: 1500px) {
    #navbar ul {
        margin-left: 600px;
    }
    #navbar ul li {
        margin-right: 100px;
    }
    #nav-logo-acm {
        margin-left: 350px;
    }
}
/**/